language: python

sudo: false
dist: trusty

env:
  - QGIS_DOCKER_TAG=latest
  - QGIS_DOCKER_TAG=release-3_4

script:
  - docker pull "qgis/qgis:${QGIS_DOCKER_TAG}"
  - docker run -v $TRAVIS_BUILD_DIR:/root/qgissettingmanager "qgis/qgis:${QGIS_DOCKER_TAG}" /root/qgissettingmanager/test/run_in_qgis_docker.sh
